.hero {
    display: flex;
    padding: 7rem 180px 0 180px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(180deg, #ffffff, #f3f3f3 60%);
    box-shadow: 0 1px 5px -2px #6c6c6c;
}

.hero .hero-left {
    display: flex;
    height: 100%;
    align-items: center;
}

.hero-left h2 {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 200px;
}

.hero .hero-right {
    display: grid;
    grid: 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr;
    max-width: 100%;
}
.hero .hero-right img {
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
    border: 2px solid #b1b1b1;
    border-radius: 10px;
}

.hero-right .hero-apple {
    grid-column: 2/3;
    grid-row: 3/4;
}
.hero-right .hero-chair {
    grid-column: 1/2;
    grid-row: 2/3;
}
.hero-right .hero-ckfragrance {
    grid-column: 2/3;
    grid-row: 5/6;
}
.hero-right .hero-lipstick {
    grid-column: 1/2;
    grid-row: 4/5;
}
