.login {
    width: 100%;
    height: 100vh;
    padding: 0 180px 0 180px;
    display: flex;
    align-items: center;
}

.login-container {
    width: 600px;
    height: 600px;
    margin: auto;
    padding: 40px 60px;
}

.login-container h1 {
    margin: 20px 0;
    text-align: center;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}

.login-inputs input {
    height: 60px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #000;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 30px;
    font-weight: 500;
    cursor: pointer;
}

.login-signin {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.login-signin span {
    color: #e64545;
    font-weight: 600;
    cursor: pointer;
}

.login-agree {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
}
