* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1600px;
    padding: 10px;
    margin: auto;
}
