.best {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 150px;
}

.best h2 {
    font-size: 50px;
    font-weight: 600;
}

.best-offers {
    margin-top: 50px;
}


